.debug {
  border-style: solid;
  border-color: #03f8fc;
}

/* Use this to place elements right or left */
.right {
  float: right;
  overflow: hidden;
}

.left {
  float: left;
  overflow: hidden;
}

.container{
 padding: 50px;
 display: block;
}

@media screen and (max-width: 750px) {
  .container{
    padding: 50px;
    display: grid;
   }
}

span.clear-right { clear: right; display: block; }

span.clear-left { clear: left; display: block; }